.prettierrc export-ignore
.gitattributes export-ignore
.gitignore export-ignore
node_modules export-ignore
package.json export-ignore
package-lock.json export-ignore
README.md export-ignore

_partials export-ignore
update-pages.js export-ignore